* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    min-width: 340px;
    display: flex;
    flex-direction: column;
}

/* Barra de navegação */

nav {
    position: fixed;
    background-color: #000;
    box-shadow: 0 0 3px #a0a;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100vw;
    z-index: 1;
}

nav #logo {
    height: 85%;
    margin-left: 0.5%;
}

#checkbox-menu, .menu-button-container {
    display: none;
}

nav ul {
    display: flex;
    padding: 0;
    right: 4%;
    position: absolute;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 1px 5px #a0a;
    font-size: 18px;
    padding: 14px 24px;
    transition: all 250ms linear 0s;
}

li a:hover{
    background-color: #111;
}

/* Seções */

#about-section{
    min-height: 100vh;
    padding: 60px 0 60px 0;
}

#about-section, #project-section{
    padding-bottom: 60px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

button#next{
    position: absolute;
    background-color: transparent;
    border: none;
    align-self: center;
    cursor: pointer;
    min-width: 50px;
    margin-top: 50px;
    bottom: 40px;
    transform: rotate(270deg);
}

button#next a{
    color: #f0f;
    text-shadow: 0 0 2px #a0a;
    font-size: 50px;
    letter-spacing: -8px;
    animation: typing 1s step-end infinite alternate;
}

button.next{
    opacity: 0;
}

::-webkit-scrollbar{
    display: none;
}

/* Seção sobre */

#about-section{
    max-width: 980px;
    font-weight: 700;
}

#about-section > * {
    min-width: 300px;
    max-width: 500px;
}

#about-section .title{
    margin: 30px 0 20px 0;
    align-self: flex-start;
}

.title h1{
    position: relative;
    width: fit-content;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

.title h1:first-child {
    animation-delay: .8s;
}

.title h1:nth-child(2) {
    animation-delay: 1.8s;
}

.title h1:last-child {
    animation-delay: 2.8s;
}

.title h1 span {
    position: absolute;
    left: 0;
    height: 40px;
    border-radius: 0 15px 15px 0;
    width: 0%;
    animation: text_reveal_box 0.8s ease;
    animation-delay: .5s;
    background-color: #000;
    box-shadow: 0 0 3px #a0a;
    background-image: url(../images/right-arrow.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.title h1:first-child span {
    animation-delay: .5s;
}

.title h1:nth-child(2) span {
    animation-delay: 1.5s;
}

.title h1:last-child span {
    animation-delay: 2.5s;
}

#about-section h3{
    opacity: 0;
    text-align: left;
}

.bar-animation{
    margin-left: 3px;
    padding: 0 4px;
    background-color: #000;
    animation: typing .5s step-end infinite alternate;
}

.knowledge-info{
    margin-top: 60px;
    opacity: 0;
    animation: text_reveal .5s ease forwards;
    animation-delay: 10.9s;
}

.knowledge-info figure{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-top: 40px;
    padding: 20px 10px;
    border: 2px solid #000;
    box-shadow: 0 0 2px #a0a;
    border-radius: 20px;
}

.knowledge-info figure * {
    margin: auto;
    cursor: pointer;
}

figure img:hover{
    transform: scale(1.2);
    transition: 500ms;
    filter: drop-shadow(0 1px 1px #000);
}

/* Seção de Projetos */

#project-section{
    width: 90%;
}

#project-section h1{
    margin: 0 auto 40px auto;
    font-size: 2rem;
    text-shadow: 0 0 2px #a0a;
}

.project-container {
    width: 90%;
    margin: 5px 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    justify-content: center;
}

.project-container a {
    text-decoration: none;
    padding: 0;
    margin: auto;
    height: 200px;
    width: 200px;
}

.project {
    height: 100%;
    width: 100%;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    text-shadow: 0 0 2px #a0a;
    box-shadow: 0 0 2px #a0a;
    font-weight: 700;
    display: flex;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

.project:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px #a0a;
}

.project:active {
    transform: scale(0.99);
    box-shadow: none;
    transition: all 0s;
}

.project figure {
    margin: 0;
    padding: 60% 0 0 0;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.project figure img {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-content {
    margin: 5px 15px 15px 15px;
}

/* Seção de Contato */

#contact-section{
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    width: 100vw;
    padding: 5px;
}

.adress{
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    gap: 10px;
}

footer a{
    color: #fff;
    font-style: normal;
}

.adress a:hover{
    text-decoration: underline;
}

.adress a img{
    margin-right: 7px;
    vertical-align:text-bottom;
}

.email-box{
    display: none;
    position: fixed;
    bottom: 40vh;
    flex-direction: column;
    align-self: center;
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    background-color: #000;
    border: 1px solid #fff;
    box-shadow: 0 0 2px #a0a;
    animation: show_box 2s;
    transform: scale(1.6);
}

.input-content{
    display: grid;
    height: 60%;
    margin-bottom: 15px;
    grid-template-columns: 25% 75%;
}

.input-content input, .input-content textarea{
    padding-left: 5px;
    width: 90%;
    align-self: flex-start;
    justify-self: flex-end;
}

input#name{
    border-radius: 2.7px 10px 2.7px 2.7px;
}

.input-content textarea{
    height: 100%;
}

.email-box button{
    align-self: center;
    cursor: pointer;
    width: 50%;
    letter-spacing: 0.2em;
    margin-top: 10px;
}

footer h4 {
    align-self: center;
}